body {
    background-color: #ffdd84;
    color: #000000 ;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.content-wrapper {
    padding: 5%;
}

thead,
tfoot {
    background-color: #929a9e;
    color: #150101;
}

tbody {
    background-color: lightblue;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 1rem;
    color: #010110;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif
}
.question {
    width: 60%;
}
.qid {
    width: 5%;
}
.voted {
    width: 7%
}
td,
th {
    width: -moz-min-content;
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

a:link {
    text-decoration: none;
}

.list_wrapper {
    display: flex;
}

.sorting_block {
    flex: 1;
    margin: 20px;
    padding: 10px;
    background-color: #ffdd84;
}

.qlist_block {
    flex: 5;
}


.wrapper {
    display: flex;

.question-block {
    flex: 1;
    margin: 20px;
    padding: 10px;
    background-color: lightblue;
}
.answer-block {
    flex: 1;
    margin: 20px;
    padding: 10px;
    background-color: lightblue;
}
.buttons {
    margin: 20px;
}
}
#header-title {
    text-align: center;
}

a:visited {
    text-decoration: none;
}

.r {
    display: inline-block;
}
.a {
    display: inline-block;
}

.q {
    display: inline;
}

.d {
    display: block;
}


