{% extends "layout.html" %}

{# This is the Edit question page #}
{% block content %}
    <body>
    <form method="POST">
        <label for="title">Question Title</label><br>
        <textarea rows="4" cols="50" required id="title" name="title">{{ title }}</textarea><br>
        <label for="message">Question message</label><br>
        <textarea rows="4" cols="50" required id="message" name="message">{{ message }}</textarea><br>
        <input type="submit" value="Edit question">
    </form>
    </body>
{#    {% include 'footer.html' %}#}
{% endblock %}